.vertical-line {
  width: 1px;
  height: 745px;
  background-color: #FFC7C7;
  margin: 10px;
  float: left;
}
.vertical{
  padding-top: 140px;
  padding-left: 40px;
}
.container{
  margin-top: 80px;
  margin-bottom: 80px;
}
/* media query */
@media (max-width: 1200px) {
  .vertical-line {
    width: 1px;
    height: 1200px;
    background-color: #FFC7C7;
    margin: 10px;
    float: left;
  }
}
@media screen and (max-width: 780px) {
  .vertical-line {
    width: 0px;
    height: 0px;
    background-color: #FFC7C7;
    margin: 10px;
    float: left;
  }
  .container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
}
  


